.profile.page-content
    .inner
        .profile__head
            %span.profile__head-name
                = @account_name
        .profile__image
            = image_tag current_user.profile_image, id: 'profileImage'
            = form_with model: @profile, method: :patch, local: true, html: { id: 'imageUploadForm' } do |f|
                = f.file_field :profile_image, accept: 'image/*', id: 'imageUploadInput',data: { turbo: false }, style: 'display:none;'
        .profile__body
            .profile__counts
                .count
                    .count__number 44
                    .count__text Posts
                .count
                    .count__number 110
                    .count__text Followers
                .count
                    .count__number 44
                    .count__text Following
            .profile__posts-content
                .profile__posts-upper-row
                    .profile__post
                        = image_tag 'post-1'
                    .profile__post
                        = image_tag 'post-2'
                    .profile__post
                        = image_tag 'post-3'
                .profile__posts-lower-tier
                    .profile__post
                        = image_tag 'post-4'
                    .profile__post
                        = image_tag 'post-5'
                    .profile__post
                        = image_tag 'post-6'

%script{ type: "module", src: asset_path('modules/profiles_controller.js') }