.add-post.page-content
    .inner
        .add-post__head
            = link_to 'Cancel', posts_path,class:'add-post__head-link'
            .add-post__title Status
            %span#js-post-link.add-post__head-link.post-link-inactive Post
        .add-post__content
            .add-post__profile
                = image_tag 'add-post-profile.png',class:'add-post__profile-image'
                %span.add-post__profile Jackie Chan
            .add-post__form
                = form_with( model: @post, url: posts_path ,method: 'post', local:true,class:'post-form' ) do |f|
                    .post-form__fields
                        = f.text_field :content, placeholder: "What's on your mind ?", class:'post-form__input'
                        = f.label :post_image, '+ Album', class: 'post-form__file-label'
                        = f.file_field :post_image, accept: 'image/*', multiple: true, data: { turbo: false }, class:'post-form__file'
                    #file-list.file-list
                    = f.submit 'Submit', id:'js-form-submit',class:'post-form__submit'